
.main-footer {
    @include flexAlignment(center, center, row);
    background: $footerBg;
    color: #fff;
    flex-wrap: wrap;
    line-height: 1.4;
    font-size: $secondaryInfoFontSize;
    position: relative;
  
    .footer-column-1 {
      width: 40%;
      padding: 20px 0;
      a {
        color: #fff;
      }
    }
    .footer-column-2 {
      width: 40%;
      padding: 20px 0;
    }
    .footer-column-bottom {
      width: 100%;
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid #fff;
    }
  }