.main-nav  {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    animation: nav-animation 3s ease-in;
    background: $primaryColor;
  
    .nav-bar {
      @include flexAlignment(center, center, row);
      height: 100%;
  
      a {
        font-size: 1.5rem;
        padding: 20px 30px;
        display: inline-block;
        color: $secondaryColor;
        transition: $hoverTransition;
      }
  
      a:hover {
        background: $secondaryColor;
        color: $primaryColor;
      }
    }
  }