.services {
    @include flexAlignment(center, center, row);
    padding: 20px;
  
    .services-overlay {
      @include overlayShadow(2);
      opacity: 0;
    }
  
    .services-container {
      width: 100%;
      background: $primaryColor;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr  40vh;
      grid-gap: 10px;
  
      .services-top {
        @include flexAlignment(center, center, column);
        position: relative;
        height: 60vh;
        grid-row: 1/2;
        grid-column: 1/4;
        color: $secondaryColor;
        text-align: center;
        line-height: 1.4;
  
        h2 {
          @include headerTextStyles(4rem);
        }
  
        p {
          color: $paragraphColor;
          font-size: $mainTextFontSize;
        }
  
        .productosBtn {
          @include buttons();
          margin-top: 30px;
        }

         
  
        .contact-button {
          position: fixed;
          bottom: 20px;
          left: 0;
          background: #cd3744;
          color: #fff;
          line-height: 1.6;
          padding: 15px 20px;
          border-radius: 0 20px 20px 0;
          z-index: 18;
          display: inline-block;
          text-align: center;
          transition: all 0.4s ease;
          animation: shakeBtn 2s ease infinite;
          box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.75);
          .close {
            font-size: 2rem;
            background: #fff;
            color: #cd3744;
            display: inline-block;
            width: 15%;
            border-radius: 100%;
            padding: 10px;
            display: none;
            margin: 20px auto;
          }
          i {
            font-size: 2rem;
          }
  
          a {
            color: #fff;
            font-size: 1.6rem;
            display: none;
          }
          

          &.change {
            a {
              display: block;
            }
            i {
              display: none;
            }
          }
        }
      }
  
      .services-right,
      .services-middle,
      .services-left {
        @include flexAlignment(center, center, column);
        position: relative;
        color: #fff;
        padding: 20px;
        transition: $hoverTransition;
        line-height: 1.8rem;
  
        img {
          @include htmlImageStyles (absolute, 1);
        }
  
        h2 {
          font-size: $secondaryInfoFontSize;
          font-weight: bold;
          margin-bottom: 10px;
          opacity: 0;
          z-index: 2;
        }
        p {
          font-size: $secondaryInfoFontSize;
          line-height: 1.4;
          opacity: 0;
          z-index: 2;
        }
  
        i {
          font-size: 1.5rem;
          position: absolute;
          left: 50%;
          top: -2rem;
          transform: translateX(-50%);
          background: $linksBg;
          padding: 15px;
          border-radius: 100%;
          transition: opacity 0.4s ease;
          z-index: 5;
          box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.75);
        }
  
        &:hover h2,
        &:hover p,
        &:hover .services-overlay {
          opacity: 1;
        }
      }
  
      .services-right {
        grid-row: 2/3;
        grid-column: 1/2;
      }
      .services-middle {
        grid-row: 2/3;
        grid-column: 2/3;
      }
      .services-left {
        grid-row: 2/3;
        grid-column: 3/4;
      }
    }
  }