
$primaryColor:#fff;
$secondaryColor: #3D4756;
$thirdColor: #A9E1FA;
$paragraphColor: #3D4756;
$footerBg: #111720;
$linksBg: #614eac;
$linksTxt: #fff;

$textShadow: 3px 1px 2px rgba(0,0,0,0.6);
$hoverTransition: all 0.5s ease;

$fontParagraph:  'Roboto', sans-serif;
$fontTitle: 'Lobster', cursive;

$mainTextFontSize: 2.3rem;
$secondaryInfoFontSize: 1.7rem;
$titleFontSize: 4rem;

$titleSmallSize: 4rem;
$paragraphSmallSize: 1.6rem;
$secondaryInfoSmallSize: 1.6rem;