.bread-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -20px;
  z-index: 2;
}
.bread {
  position: absolute;
  background: #fff;
  border-radius: 10px;
  animation: pancito 4s linear infinite;
}

@keyframes shakeBtn {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(-0px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes pancito {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(90vh);
    opacity: 1;
  }
}