@import "animations";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import "mixins";
@import "header";
@import "navigation";
@import "services";
@import "about";
@import "reviews";
@import "footer";
@import "gallery";
@import "mediaQueries";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontParagraph;
}


@keyframes nav-animation   {
  0% { left: -200%;}
  100% {left: 0;}
}

@keyframes headerAnimation  {
  0% { top: -200%;}
  100% {top: 50%;}
}
